<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>
                This site is created by RSS IT Milan Sanjaynagar. 
                RSS Swayamsevaks can register <a href="/">here</a> to attend Guru Puja Utsav on specified date.
            </p>

            <img class="portrait" src="/img/bhagvadhwaj2.jpeg" alt="RSS">
        </div>
        {{>footer}}
    </body>

</html>