<h1>{{title}}</h1>

<header>
    <a class="active" href="/">Home</a>
    <a class="active" href="/registrations">Registrations</a>
    <a class="active" href="/about">About</a>
    <a class="active" href="/login">Login</a>
</header>